div, p, span {
    font-size: 20px;
}

#heading {
    padding: 20px;
    font-size: 30px;
    font-style: bold;
}

.error {
    font-size: 16px;
    color: red;
}

input[type=number], input[type=text]{
    width: 100px;
} 

input[type=checkbox] {
    width: 15px;
    height: 15px;
    vertical-align: center;
}

input[type=button] {
    margin: 4px 2px;
    font-size: 15px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
}

#controls > div {
    margin-left: 15px;
}

fieldset {
    /* border: none; */
    border-radius: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
}

.text-label {
    width: 120px;
    display: inline-block;
}

#cy {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    margin: 0;
}

.mobile-line-break {
    width: 0;
}

@media (max-device-width: 700px) {
    body {
        flex-direction: column;
    }
    #controls {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .mobile-line-break {
        width: 100%;
    }
    fieldset {
        min-width: 150px;
    }
    div, p, span {
        font-size: 25px;
    }
    .text-label {
        width: 150px;
    }
}
