div, p, span {
  font-size: 20px;
}

input[type=number]{
    width: 80px;
} 

.optionalNumber {
    width: 80px;
} 

.heading {
    font-size: 30px;
    font-style: bold;
}

.subheading {
    font-size: 25px;
    font-style: bold;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    -moz-appearance: none;
    vertical-align: top;
    margin-top: 1px;
}

.controls {
    display: flex-column;
    justify-content: space-between;
}

.controls > div {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 10px;
}

label {
    width: 250px;
    display: inline-block;
}

#cy {
  width: 100%;
  height: 100%;
}

body {
    display: flex;
    width: 95%;
    height: 95%;
}
